{% extends 'base.html' %}

{% block main %}
<main>
    <section>
        <div class="container">

            <div class="row">
                <div class="col col-sm-8">
                    <div class="card">
                        <h3 class="card-title">Exchange Admin Index</h3>
                        <a href="/config">Edit Config</a> <br>
                        <a href="/active_exchanges">List All Active Exchanges</a> <br>
                        <a href="/completed_exchanges">List All Completed Exchanges</a> <br>
                        <a href="/track">Track Exchange</a> <br>
                        <a href="/lock">Edit Global Lock</a> <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}