{% extends 'base.html' %}

{% block main %}
<main>

    <section>
        <div class="container">

            <div class="row">
                <div class="col col-sm-4">
                    <div class="card">
                        <h3 class="card-title">Exchange Progress</h3>
                        <div class="progress-bar">
                            <span class="progress-bar-green" style="width: 25%;"></span>
                        </div>
                        <div class="stepper">
                            <div class="step">
                                <p class="step-number" style="background-color:green">1</p>
                                <p class="step-title">Exchange Pair</p>
                                <p>Converting from {{ swap.swap_from|upper }} to {{ swap.swap_to|upper }}</p>
                            </div>
                            <div class="step">
                                <p class="step-number" style="background-color:blue">2</p>
                                <p class="step-title">Provide Address</p>
                                <p>Provide your {{ swap.swap_to|upper }} destination address</p>
                            </div>
                            <div class="step">
                                <p class="step-number" style="background-color:grey">3</p>
                                <p class="step-title">Send Coins</p>
                                <p>Send the coins you want to convert to the address provided</p>
                            </div>
                            <div class="step">
                                <p class="step-number" style="background-color:grey">4</p>
                                <p class="step-title">Receive Converted Coins</p>
                                <p>The coins you send will be converted and sent to the destination address</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-sm-8">
                    <div class="card">
                        <h3 class="card-title">Exchange</h3>
                        <div class="row">
                            <div class="column" style="text-align: center;width:45%">
                                <h3 style="color: black; font-size: 20px;text-align: center;">You will send {{ swap.swap_from|upper }}</h3>
                                <input  style="font-size: 20px;text-align: center; color: black;" type="text" name="address"
                                        class="input-field" 
                                        value="{{ swap.quoted_swap_from_amount|shortnumber }}"
                                        readonly>
                            </div>
                            <div class="column" style="text-align: center;;width:10%">&nbsp;&nbsp;</div>
                            <div class="column" style="text-align: center;;width:45%">
                                <h3 style="color: black; font-size: 20px;text-align: center;">You will receive {{ swap.swap_to|upper }}</h3>
                                <input  style="font-size: 20px;text-align: center; color: black;" type="text" name="address"
                                        class="input-field" 
                                        value="{{ swap.quoted_swap_to_amount|shortnumber }}"
                                        readonly>
                            </div>
                        </div> 
                    </div>
                    <div class="card">
                        <form action="address" method="post">
                            {{ form.hidden_tag() }}
                            <h3 class="card-title">Your {{ swap.swap_to|upper }} Address</h3>
                            {{ form.swap_to_address.label() }}
                            {{ form.swap_to_address() }}
                            {% if "swap_to_address" in form.errors %}
                            <p class="validation-error">{{ form.errors.swap_to_address[-1] }}</p>
                            {% endif %}
                            <br>
                            <div class="form-control-group">
                                <div class="form-control">
                                    {{ form.captcha.label }}
                                    {{ form.captcha() }} 
                                    {% if "captcha" in form.errors %}
                                    <p class="validation-error">{{ form.errors.captcha[-1] }}</p>
                                    {% endif %}
                                </div>
                                <div class="form-control">
                                    <img src="data:image/png;base64, {{ captcha_img }}">
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="button-primary button-shadow">Exchange Now</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
