{% extends 'base.html' %}

{% block main %}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col col-sm-8">
                    <div class="card">
                        <h3 class="card-title">System Maintenance</h3>
                        MIM Exchange is paused for maintenance.  If you have an exchange in progress it will complete after this maintenance window completes.
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}